extends layout

block links
    link(rel='stylesheet' href='/stylesheets/main_layout.css')
    script(src='/javascripts/cookie_check.js')

    block sub-links

block content
    //header navigation bar
    .navbar-fixed
        nav
            .nav-wrapper#nav-header-wrapper
                a.brand-logo(href='#') CS411
                ul.right.hide-on-med-and-down
                    li: span#nav-message Welcome!
                    li: a.nav-link(href='account') My Account
                    li: a.nav-link#btn-logout(href='javascript:void(0)') Logout

    block body-content