@import 'global.scss';

#search-label {
  margin-left: 20px;
  color: darken($textColor, 15);
  font-size: 1rem;
}

#search-box {
  nav {
    border-radius: 60px;
  }
  #search-bar {
    border-bottom: none;
    color: darken($textColor, 15);
    border-radius: 60px;
    &:focus {
      border-bottom: 1px solid $textColor!important;
      box-shadow: 0 1px 0 0 $textColor!important;
    }
  }
}
